<% wrap_layout :layout do %>
  <%= image_tag current_article.title.gsub(/\s+/, "") + '.jpg', class: "w-36" %>
  <div class="flex flex-row justify-center">
    <div class="max-w-3xl px-6 pb-6 article-blog-post">
      <%= yield %>
    </div>
  </div>
  <% blog.articles[0...5].each do |article| %>
    <article>
      <h1>
        <a href="<%= article.url %>"><%= article.title %></a>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </h1>
      <a href="<%= article.url %>">Read more</a>
    </article>
  <% end %>
<% end %>
