<% wrap_layout :layout do %>
  <!-- justifies the whole article in the center -->
  <div class="flex justify-center">
    <!-- sets a max width optimum for reading -->
    <div class="max-w-2xl px-6 py-6">
      <!-- flex around different view sizes for the cover pic and title -->
      <div class="flex flex-wrap flex-col md:flex-row gap-x-6">
        <div class="flex justify-center">
          <%= image_tag current_article.title.gsub(/\s+/, "") + '.jpg', class: "max-w-72 md:w-52" %>
        </div>
        <div class="">
          <h1 class="text-4xl font-sans font-bold dark:text-white pt-8 md:pt-1">
            <%= current_article.title %>
          </h1>
          <p class="text-lg font-sans italic pt-4 text-gray-600">
            By <%= current_article.data.author %>
          </p>
          <P class="font-sans italic pt-1 text-gray-600">
            Published <%= current_article.data.publish_date %>
          </p>
          <p class="font-sans italic pt-1 text-gray-600">
            <%= current_article.data.estimated_time %> read
          </p>
        </div>
        <div class="flex justify-center pt-7 pb-5 md:hidden">
          <div class="w-1/4 border-t border-gray-800"></div>
        </div>
      </div>
      <!-- Markdown generates html tags without classes -->
      <!-- Define css children of these tags for styling -->
      <div class="article-blog-post">
        <%= yield %>
      </div>
      <p class="font-sans italic pt-4 text-gray-600 text-lg">
        - Posted on <%= current_article.date.strftime("%a, %d %b %Y") %>
      </p>
    </div>
  </div>
  <% blog.articles[0...5].each do |article| %>
    <article>
      <h1>
        <a href="<%= article.url %>"><%= article.title %></a>
        <time><%= article.date.strftime('%b %e %Y') %></time>
        <%= article.data.author %>
      </h1>
      <a href="<%= article.url %>">Read more</a>
    </article>
  <% end %>
<% end %>
