<% wrap_layout :layout do %>
  <!-- justifies the whole article in the center -->
  <div class="flex justify-center">
    <!-- sets a max width optimum for reading -->
    <div class="max-w-2xl px-6 py-6">
      <!-- flex around different view sizes for the cover pic and title -->
      <div class="flex flex-col md:flex-row gap-x-6">
        <div class="flex justify-center">
          <%= image_tag current_article.title.gsub(/\s+/, "") + '.jpg', class: "max-w-72 md:w-52" %>
        </div>
        <div class="">
          <h1 class="text-4xl font-sans font-bold dark:text-white pt-8 md:pt-1">
            <%= current_article.title %>
          </h1>
          <p class="text-lg font-sans font-light pt-4 text-gray-600">
            <%= article_author_shower(current_article) %>
          </p>
          <P class="font-sans font-light pt-1 text-gray-600">
            <%= article_publish_date_shower(current_article) %>
          </p>
          <p class="font-sans font-light pt-1 text-gray-600">
            <%= current_article.data.estimated_time %> read
          </p>
        </div>
        <div class="flex justify-center pt-7 pb-5 md:hidden">
          <div class="w-1/4 border-t border-gray-800"></div>
        </div>
      </div>
      <!-- Markdown generates html tags without classes -->
      <!-- Define css children of these tags for styling -->
      <div class="article-blog-post">
        <%= yield %>
      </div>
      <p class="font-sans italic pt-4 text-gray-600 text-lg">
        - Posted on <%= current_article.date.strftime("%a, %d %b %Y") %>
      </p>
    </div>
  </div>
  <div class="pt-7 pb-5 max-w-2xl px-6 py-6 mx-auto">
    <div class="border-t border-gray-800"></div>
    <h1 class="text-4xl font-sans font-bold dark:text-white pt-8">
      Latest Articles
    </h1>
    <% blog.articles[0...5].each do |article| %>
      <div class="flex flex-col gap-x-6 mt-4 grow">
        <%= link_to image_tag(article.title.gsub(/\s+/, "") + '.jpg'), article, class: "hidden md:inline w-44" %>
        <%= link_to article.title, article,
            class: "text-3xl font-sans font-bold dark:text-white pt-8 md:pt-1 hover:link-hover-color" %>
        <div class="mt-1 text-gray-600 font-serif text-lg">
          <%= article.summary(100) %>
        </div>
        <div class="flex flex-row justify-between">
          <p class="font-sans font-light text-gray-600">
            <%= article.data.estimated_time %> read
          </p>
          <p class="font-sans font-light pt-1 text-gray-600 align-right">
            Posted <%= article.date.strftime("%a, %d %b %Y") %>
          </p>
        </div>
        <% article.tags[0..2].each do |tag| %>
          <%= link_to tag, tag %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
