<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="color-scheme" content="light dark" />
    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= partial "navbar" %>
    <!-- header(h-14 or 56px) + footer(h-32 or 128px) -->
    <!-- header(h-14 or 56px) + footer(h-40 or 160px) -->
    <main class="bg-stone-50 min-h-[calc(100vh-216px)] md:min-h-[calc(100vh-184px)]">
      <div id="main" role="main">
        <%= yield %>
      </div>
    </main>
    <%= partial "footer" %>
  </body>
</html>
